html {
  * {
    box-sizing: border-box;
  }
}

body {
  background: #000000;
  font-size: 18px;
  font-family: Arial;
  color: #d6d6d6;
  margin: 0;

  a {
    color: #d47bd9;
    text-decoration: none;

    &:hover {
      color: #e2aae5;
    }
  }

  label {
    display: block;
    margin: 0.3pc 0;
  }

  input {
    background: #242424;
    border-style: solid;
    border: 1px solid #838383;
    font-size: 18px;
    border-radius: 3px;
    color: inherit;
    padding: 0.5pc;
    width: 100%;
    outline: none;
    &:focus {
      border: 1px solid #a9a9a9;
    }
  }

  button {
    border: none;
    background: #673ab7;
    padding: 1pc 2pc;
    margin: 0.5pc 0;
    cursor: pointer;
    color: white;

    &:focus {
      background: #906ccf;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-around;

  .block {
    width: 40pc;
    padding: 5pc;
    background: #343434;
    margin: 5pc 0;
    border-radius: 1pc;
  }
  .centered {
    text-align: center;
  }
  .error {
    color: red;
    display: block;
  }
}
